
.mainForm {
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    width: 500px;
  }
  
  
  .allPosts{
    margin: 0 auto;
    margin-bottom: 15px;
    box-sizing: border-box;
    border-style: solid;
    width: 50%;
  }

  .postHolder {
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 20px;
    text-align: center;
    box-sizing: border-box;
    border-style: solid;
  }
  
  .postDate {
    font-size: small;
  }

  .btn{
    padding: 7.5px;
    height: 40px;
    width: 60px;
    margin-bottom: 5px;
  }
